.notion-scroller.vertical.horizontal span,
.notion-page-content span {
    font-family: 'iAWriterQuattroS-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 21px;
}